@charset "utf-8";

body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  user-select: none;
}

#container {
  width: 100%;
  height: 100%;
}

form#formCalc {
  width: 300px;
  margin: 50px auto;
  background-color: #808080;
  overflow: auto;
  border: 2px solid rgb(50, 50, 50);
  border-radius: 10px;
}

fieldset#display {
  padding: 10px;
  text-align: center;
}

input[type="text"] {
  width: 95%;
  font-size: 20pt;
  padding: 5px;
  border: 2px solid rgb(50, 50, 50);
  border-radius: 5px;
  size: 5;
  text-align: right;
}

button {
  border: 2px solid rgb(50, 50, 50);
  border-radius: 5px;
  padding: 5px;
  font-size: 15pt;
  width: 50px;
  margin: 2px;
  cursor: pointer;
}

fieldset#display input {
  background-color: #fff;
}

fieldset {
  margin: 5px;
  padding: 5px;
}

fieldset#fieldNumber {
  width: 60%;
  text-align: center;
}

fieldset#fieldOperator {
  float: right;
  width: 20%;
  text-align: center;
  margin-top: 0px;
}


